<section>
  <h1>Send Request Simulator</h1>
  <form phx-change="change_form">
    <input type="range" name="ms" value="<%= @ms %>" min="100" max="1000" step="100"/>
    <p><%= @ms %></p>
  </form>
</section>
